<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28329748399-rfglbmq83rnssnlidddjs2d6fmsqnmq3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28329748399-rfglbmq83rnssnlidddjs2d6fmsqnmq3</string>
	<key>API_KEY</key>
	<string>AIzaSyBHtPXdxxHpKrLZUhs3bKD-FtQV69nKdgI</string>
	<key>GCM_SENDER_ID</key>
	<string>28329748399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hansrietmann.frontpagetech</string>
	<key>PROJECT_ID</key>
	<string>front-page-tech-b3bcc</string>
	<key>STORAGE_BUCKET</key>
	<string>front-page-tech-b3bcc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28329748399:ios:4a88e913e08e39aa33315a</string>
</dict>
</plist>